.add-new-user-p {
  padding-left: 8px;
}
.dialog-container {
  display: flex;
}
.datepicker {
  display: flex;
  justify-content: center;
}
.mat-dialog-actions {
  justify-content: center;
}
.dialog-wrap {
  position: relative;

  mat-progress-bar {
    position: absolute;
    top: -24px;
    right: -24px;
    left: -24px;
    width: calc(100% + 48px);
  }
}
